## About Jupyter Notebooks ##
iPython Notebooks (recently Jupyter notebooks) are interactive coding environments embedded in a webpage.

A notebook lets you write and execute Python code in your web browser. It contains a number of cells. Each cell can contain Python code, or Markdown.

A cell can be exceuted by clicking on it and pressing Shift-Enter.

In [1]:
print("Hello World !")

Hello World !

## Python variables and operators ##
### Arithmitic operators ###

In [2]:
3+4

7

In [3]:
3-4

-1

In [4]:
9/2

4.5

Note : Be aware of real and integer division <br>
use / is for real division<br>
use // is for integers

In [5]:
9//2

4

In [6]:
9.5//2.0

4.0

In [7]:
9%2

1

In [8]:
9**2

81

In [13]:
b = 9 * 8 / 3 * 4 + 6 / -3
a = 9*8
a = a/3
a = a*4
a = a + (6/-3)
print(a)
print(b)

94.0
94.0

In which order are executed operators ?

In [ ]:
123456789 ** 100

Integers are limited only by the available virtual memory

In [14]:
9<2

False

In [15]:
"9//2"

'9//2'

In [17]:
a = 1
print(type(a))
a = 1.0
print(type(a))
a = '1'
print(type(a))

a = 1
b = 1
print(id(a))
print(id(b))

<class 'int'>
<class 'float'>
<class 'str'>
4344015216
4344015216

In [18]:
a is b

True

In [19]:
a = 10
print(id(a))
a = 100
print(id(a))

4344015504
4344018384

In [20]:
a = int(12.25)
print(a)
print(type(a))
a = int('123')
print(a)
print(type(a))

12
<class 'int'>
123
<class 'int'>

In [21]:
a = int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [22]:
a = int('abc', 16)
print(a)

2748

In [23]:
a = float('123.25')
print(a)
print(type(a))

123.25
<class 'float'>

In [24]:
a = float('abc')

ValueError: could not convert string to float: 'abc'

In [25]:
a = 10
A = 123
print(a, A)

10 123

Note that variable names are case sensitive

In [26]:
a = 2
id(a)

4344015248

In [27]:
a = 10
id(a)

4344015504

Note that numbers are immutable in Python

### Math functions ###

In [28]:
x = 2

In [29]:
sqrt(x)

NameError: name 'sqrt' is not defined

In [30]:
from math import sqrt

In [31]:
sqrt(x)

1.4142135623730951

In [32]:
import math

In [33]:
math.pi

3.141592653589793

In [34]:
math.floor(math.pi)

3

In [35]:
math.ceil(math.pi)

4

### Booleans and comparaison ###

In [36]:
x, y, z = 10, 20, 30

In [37]:
x == y

False

In [38]:
x != y

True

In [39]:
x >= y

False

In [40]:
x <= y

True

In [41]:
x > y

False

In [42]:
x < y

True

In [43]:
x < y and y > z

False

In [44]:
x < y or y > z

True

Note short-circuit execution

In [45]:
not  x > y

True

In [46]:
not x < y or y > z

False

### Complex numbers ###

In [47]:
z = 1 + 2j
y = complex(-2, 5)
print(z)
print(y)

(1+2j)
(-2+5j)

In [48]:
z.real

1.0

In [49]:
z.imag

2.0

In [50]:
z + y

(-1+7j)

In [51]:
z / y

(0.27586206896551724-0.3103448275862069j)

In [52]:
z.conjugate()

(1-2j)

In [53]:
abs(z)

2.23606797749979

In [54]:
import cmath

In [55]:
cmath.polar(z)

(2.23606797749979, 1.1071487177940904)

In [56]:
cmath.rect(1, cmath.pi/4)

(0.7071067811865476+0.7071067811865475j)

In [57]:
cmath.rect(1, math.radians(45))

(0.7071067811865476+0.7071067811865475j)

## Floating Point Arithmetic Issues ##

When doing arithmetic with floting point numbers, you have to be aware of machine representation limitations.

In fact there are infinity of real numbers between any two bounds a and b.<br>
On a computer we have to approximate this by a finite number.<br>
There is an IEEE standard for Floating point numbers are represented according to IEEE-754 standard.

Unfortunatly not every real number will have an exact representation in floating point.

Here are some examples :

In [58]:
a = 0.1

In [59]:
type(a)

float

In [60]:
print(a)

0.1

In [61]:
0.1 + 0.1 + 0.1 == 3.0

False

In [62]:
0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1 + 0.1

0.9999999999999999

In [63]:
0.3 / 0.1 - 3.0

-4.440892098500626e-16

Why?<br>
The number 0.1 cannot be exactly represented on computer memory<br>
As is the case for most decimal numbers

In [64]:
print("%.50f" %a)

0.10000000000000000555111512312578270211815834045410

In [65]:
format(a, '.50f')

'0.10000000000000000555111512312578270211815834045410'

In [66]:
print("a = {:.50f}".format(a))

a = 0.10000000000000000555111512312578270211815834045410

In [67]:
a = 1.0
b = 1e-16
c = a + b

In [68]:
a == c

True

In [69]:
s1 = 0.0
n = 100000
for i in range(1, n+1):
    s1 += 1.0/i
print("%.50f" %s1)

12.09014612986333503386049414984881877899169921875000

In [70]:
s2 = 0.0
n = 100000
for i in range(n, 0, -1):
    s2 += 1.0/i
print("%.50f" %s2)

12.09014612986340786449090956011787056922912597656250

In [71]:
s1 == s2

False

In [74]:
if (abs(s1-s2)<1e-10) : print("OK")

OK

In [72]:
x = s1-s2
print(x)

-7.283063041541027e-14

In [75]:
x = 1.0
while x != 0.0:
    y = x
    x = x/2.0
print(y)

5e-324

In [76]:
y

5e-324

## Input / print ##

In [77]:
s = input("Write a text : ")

Write a text : klskljskf

In [78]:
type(s)

str

In [79]:
n = int(input("Give an integer : "))

Give an integer : 1233

In [80]:
type(n)

int

## Control flow ##

### if statements ###

In [81]:
n = int(input("Enter an integer : "))

Enter an integer : 10

In [82]:
if n%2 :
    print(n, 'is an odd number')
else : 
    print(n, 'is an even number')

10 is an even number

In [83]:
a = float(input("Give coef a : "))
b = float(input("Give coef b : "))
c = float(input("Give coef c : "))
delta = b*b - 4*a*c
if delta > 0 :
    x = (-b + sqrt(delta))/(2*a)
    y = (-b - sqrt(delta))/(2*a)
    print ("Two real solutions : ")
    print(x)
    print(y)
elif delta == 0 : 
    x = -b / (2*a)
    print("Unique real solution : ")
    print(x)
else :
    x = -b/(2*a)
    y = sqrt(-delta)/(2*a)
    print("Two complex solutions : ")
    print(complex(x, y))
    print(complex(x, -y))

Give coef a : 1
Give coef b : 1
Give coef c : 1
Two complex solutions :
(-0.5+0.8660254037844386j)
(-0.5-0.8660254037844386j)

### for Statements ###

In [84]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [85]:
for i in range (2, 10, 2):
    print(i)

2
4
6
8

In [86]:
for c in 'Hello World':
    print(c)

H
e
l
l
o

W
o
r
l
d

In [87]:
n = 10
p = 1
for i in range(1, n+1):
    p *= i
print(n, "! = ", p)

10 ! =  3628800

#### Exercice ####
write instructions to compute :

$A_n = \sqrt{1 + \sqrt{2 + \sqrt{3 + .. + \sqrt{n}}}}$

In [ ]:
for n in range(2, 20):
    prime = True
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            prime = False
            break
    if prime:
        print(n, 'is a prime number')

### while statements ###

In [ ]:
a = 12332
b = 14540
r = a%b
while r != 0:
    a = b
    b = r
    r = a%b
print("gcd = ", b)

In [ ]:
a, b = 1, 1
n = int(input("Enter a positive integer : "))
while n :
    print(b)
    a, b = b, a+b
    n -= 1

Note : 
this is a Fibonacci serie : the sum of two elements defines the next

#### Exercice ####
Using the folowing formula write a program to calculate an approximation of the square root of a real number A :

\begin{equation}
X_0 = A\\
X_{n+1} = \frac{1}{2}(X_n + \frac{A}{X_n})
\end{equation}

#### Exercice ####
145 is a curious number, as 1! + 4! + 5! = 1 + 24 + 120 = 145.
Write a program to find other numbers with the same property.

In [ ]:
print ("Hope you enjoy Python")